---
title: Not Found
permalink: 404.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<div class="error">
<p class="error__code">404</p>
<p class="error__message">Couldn't find what you were looking for?</p>
<p class="error__message">Check the <a href="{{ '/archive' | url }}" title="Archive">Archive</a></p>
</div>