---
title: Not Found
permalink: 404.html
---
<div class="error">
<p class="error__code">404</p>
<p class="error__message">Couldn't find what you were looking for?</p>
<p class="error__message">Head back <a href="{{ '/' | url }}" title="Home">Home</a></p>
</div>