---
permalink: /archive/
renderData:
  title: Blog Archive
  description: All blog posts by posted date
---
<h1 class="page-title">{{ renderData.title }}</h1>
{% set postlist = collections[ 'posts' ] %}
{% include "components/postlist.njk" %}