---
layout: base
permalink: index.html
title: Home - Andrew Asquith
description: My little corner of the internet
---

    <header>
    </header>
    <div class="container" id="main">
    </div>
    <footer class="copy">
        <p>&copy; </p>
    </footer>
