---
permalink: index.html
title: Home
---

<h1 class="page-title">Recent Posts</h1>
{% set postlist = collections[ 'posts' ] | head(-3) %}
{% include "components/postlist.njk" %}
<div class="read-more">
<a href="{{ '/archive/' | url }}" class="read-more__link">See All Posts</a>
</div>
