---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: page
renderData:
  title: Tagged "{{ tag }}"
  description: All posts tagged {{ tag }}
permalink: /tags/{{ tag | slug }}/
excludeFromSitemap: true
---
<h1 class="center">{{renderData.title}}</h1>
{% set postlist = collections[ tag ] %}
{% include "components/postlist.njk" %}

<div class="page__read-more">
<a href="{{ '/tags/' | url }}" class="page__read-more-link">See All Tags</a>
</div>
