---
permalink: /tags/
layout: page
renderData:
  title: All Tags
  description: All content sorted by tag
---
<h1 class="page-title">{{ renderData.title }} - {{ renderData.description }}</h1>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <h2 class="tag-header"><a href="{{ tagUrl | url }}" class="tag-header__link">{{ tag }}</a></h2>
  {% set postlist = collections[ tag ] %}
{% include "components/postlist.njk" %}
{% endfor %}
