---
permalink: /tags/
layout: page
renderData:
  title: All Tags
  description: The complete collection of tags in use
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
