---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: page
renderData:
  title: Tagged "{{ tag }}"
  description: All posts tagged {{ tag }}
permalink: /tags/{{ tag }}/
excludeFromSitemap: true
---

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
