<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
{% include "components/meta.njk" %}
{% include "components/favicon.njk" %}

    {%- if buildconfig.env == 'production' %}
    <link rel="stylesheet" href="{{ '/css/site.v' + buildconfig.version + '.min.css' | url }}">
    {%- else %}
    <link rel="stylesheet" href="{{ '/css/site.v' + buildconfig.version + '.css' | url }}">
    {%- endif %}
</head>
<body>
    {{ content | safe }}

{# No JS required!

    {% if buildconfig.env == 'production' %}
    <script async src="{{ '/js/site.v' + buildconfig.version + '.min.js' | url }}"></script>
    {% else %}
    <script async src="{{ '/js/site.v' + buildconfig.version + '.js' | url }}"></script>
    {% endif %}
#}
    {% if buildconfig.env == 'production' and (analytics.google) %}
    {% include "components/googleanalytics.njk" %}
    {% endif %}
<footer class="footer">
        <span class="footer__social footer__item">
        <a href="https://goaa.ca/twitter"><img src="{{ '/img/svg/twitter.svg' | url }}" class="social-icon" /></a>
        <a href="https://goaa.ca/linkedin"><img src="{{ '/img/svg/linkedin.svg' | url }}" class="social-icon" /></a>
        <a href="https://goaa.ca/github"><img src="{{ '/img/svg/github.svg' | url }}" class="social-icon" /></a>
        <a href="{{ site.feed | url | absoluteUrl(site.url) }}"><img src="{{ '/img/svg/rss.svg' | url }}" class="social-icon" /></a>
        </span>
        <span class="footer__copyright footer__item">&copy; {{site.copyright}}</span>
        <span class="footer__privacy footer__item"><a href="{{ site.privacy_url | url}}" class="footer__privacy-link">Privacy Policy</a></span>
</footer>
</body>
</html>