<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
{% include "components/meta.njk" %}
{% include "components/favicon.njk" %}

    {%- if buildconfig.env == 'production' %}
    <link rel="stylesheet" href="{{ '/css/site.v' + buildconfig.version + '.min.css' | url }}">
    {%- else %}
    <link rel="stylesheet" href="{{ '/css/site.v' + buildconfig.version + '.css' | url }}">
    {%- endif %}
</head>
<body>
    {{ content | safe }}

    {% if buildconfig.env == 'production' %}
    <script async src="{{ '/js/site.v' + buildconfig.version + '.min.js' | url }}"></script>
    {% else %}
    <script async src="{{ '/js/site.v' + buildconfig.version + '.js' | url }}"></script>
    {% endif %}
    {% if buildconfig.env == 'production' and (analytics.google) %}
    {% include "components/googleanalytics.njk" %}
    {% endif %}
<footer class="footer">
        <p class="footer__copyright">&copy; {{site.copyright}}</p>
</footer>
</body>
</html>