---
layout: base
---
<header class="page-header">
{% include "components/navbar.njk" %}
    <div class="page-header__branding branding">
        <div class="branding__title">{{site.title}}</div>
        <div class="branding__tagline">{{site.description}}</div>
    </div>
</header>
<div class="page-container">
    <main class="page-content">
        {{ content | safe }}
    </main>
</div>
