---
layout: page
---
<header class="post__header">

<h1 class="post__header-title">{{title}}</h1>
{% if description %}
<h2 class="post__header-description">{{description}}</h2>
{% endif %}

{% if image %}
<img src="{{ image | url }}" alt="{{imageAlt or title}}" title="{{imageAlt or title}}" class="post__featured-image" />
{% endif %}
<time class="post__date" datetime="{{ page.date | isoDate }}">{{ page.date | friendlyDate }}</time>

</header>
<article class="post__content">
 <main>
    {{ content | safe }}
 <main>
</article>

{% if tags.length > 0 %}
<section class="post__taglist">

   <h3>Tagged:</h3>
   <div class="taglist">
    {% for tag in tags %}
      {%- if tag != "posts" -%}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="taglist__tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
   </div>
</section> <!-- taglist -->
{% endif %}