---
layout: page
---
<header class="post-header">

<h1 class="post-header__title">{{title}}</h1>
{% if description %}
<h2 class="post-header__description">{{description}}</h2>
{% endif %}

{% if image %}
<img src="{{ image | url }}" alt="{{imageAlt or title}}" title="{{imageAlt or title}}" class="post-header__featured-image" 
   srcset="{{ image | url | srcset }}" sizes="90vw"  />
{% endif %}
<time class="date" datetime="{{ page.date | isoDate }}">{{ page.date | friendlyDate }}</time>

</header>
<article class="post-content">
 <main>
    {{ content | safe }}
 <main>
</article>

{% if tags.length > 0 %}
<section class="post-taglist">

   <h3>Tagged:</h3>
   <div class="taglist">
    {% for tag in tags %}
      {%- if tag != "posts" -%}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag taglist__tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
   </div>
</section> 
{% endif %}