    {%- set absolutePageUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset -%}
    {% set isPost = layout == 'post' %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        {% if isPost -%}
        "@type": "BlogPosting",
        {% else -%}
        "@type":"WebSite",
        {% endif -%}
        "url":"{{ absolutePageUrl }}",
        {% if image -%}
        "image":"{{ image | imageUrl(page) | absoluteUrl(site.url) }}",
        {% else -%}
        "image": "{{ site.logo }}"
        {% endif -%}
        "headline":"{{renderData.title or title or site.title}}",
        "description": "{{renderData.description or description or site.description}}",
        "author": {
            "@type": "Person",
            "name": "{{ author.name }}",
            "sameAs":[
                "{{ author.twitter.url }}",
                "{{ author.instagram.url }}",
                "{{ author.linkedin.url }}",
                "{{ author.github.url }}"
            ]
        }
    }
    </script>