<nav class="navbar">
    <a href="{{ site.url }}" class="navbar__item">Home</a>
    <a href="{{ '/about' | url }}" class="navbar__item">About</a>
    <a href="{{ '/archive' | url }}" class="navbar__item">Archive</a>
</nav>