<nav class="navbar">
    <a href="{{ site.url }}" class="navbar__item">Home</a>
    <a href="{{ '/about' | url }}" class="navbar__item">About</a>
    <a href="{{ '/tags' | url }}" class="navbar__item">Tags</a>
</nav>