    {% set absolutePageUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    <meta property="og:title" content="{{renderData.title or title or site.title}}" />
    <meta property="og:url" content="{{absolutePageUrl}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    {% if image -%}
    <meta property="og:image" content="{{image | imageUrl(page) | absoluteUrl(site.url) }}" />
    {% else -%}
    <meta property="og:image" content="{{site.logo | absoluteUrl(site.url) }}" />
    {% endif -%}