
:root{
    font-size: 20px;
}


.page-container {

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
    @include breakpoint(xsmall) {
      max-width: 540px;
    }

    @include breakpoint(small) {
      max-width: 720px;
    }

    @include breakpoint(medium) {
      max-width: 960px;
    }

    @include breakpoint(large) {
      max-width: 1140px;
    }

}

