.footer {
    width: 100%;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(small) {
      flex-direction: row;
    }
 
}

.footer__item {
  margin-top: 1rem;
}

.footer__copyright {
  color: $dark-color;
  //font-size: 0.6rem;
  padding: 0.5rem;
}

.footer__privacy-link {
  color: $dark-color;
  //font-size: 0.6rem;
  padding: 0.5rem;
}

.footer__social-link {
  color: $dark-color;
  padding: 0.5rem;
}

.social-icon {
  height: 2rem;
}