
.frontpage-header {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.frontpage-header__img {
    display:block;
    max-width: 100%;
}

.frontpage-header__navbar {
    position: absolute;
    top: 0%;
    right:0%;
}

.frontpage-header__branding {
    position: absolute;
    top: 60%;
    left: 10%;
    @include breakpoint(large) {
        top: 80%;
    }
}

