.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar__item {
    display:block;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}