.page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/aa_header_2000_1200.jpg");
    background-position: center;
    margin-bottom: 3.5rem;
}

.page-header__branding {
    padding-top: 6rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
}

.page-content {
    padding-left: 1rem;
    padding-right: 1rem;
}


.page-title {
    text-align: center;
}