/* container for the taglist */
.taglist {
    display: inline-block;
    padding: 0.9rem;
}

/* An individual tag  */
.taglist__tag {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 0.8rem;
    font-weight: 200;
    text-decoration: none;
    background-color: $light-colour;

}

.taglist__tag:hover {
    background-color: $dark-colour;
}

.tag-header {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
}

.tag-header__link {
    text-decoration: none;
}