/* container for the taglist */
.taglist {
    display: inline-block;
    padding: 0.9rem;
}


.tag {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 200;
    text-decoration: none;
    background-color: $light-color;
}

.tag:hover {
    background-color: $dark-color;
}

.taglist__tag {
    margin: 0.1rem;
}


.tag-header {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-family: sans-serif;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
}

.tag-header__link {
    color: $triad-color-one;
    &:visited {
        color: $triad-color-two;
    }
    &:visited:hover {
        color: $triad-color-one;
    }
}