---
permalink: /.htaccess
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^www\.andrewasquith\.ca$ [NC]
RewriteRule ^(.*)$ http://www.andrewasquith.ca/$1 [R=301,L]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^!www\.andrewasquith\.ca$ [NC]
RewriteRule ^(.*)$ https://www.andrewasquith.ca/$1 [R=301,L]

Redirect 301 /tag/caching/ https://www.andrewasquith.ca/tags/caching/
Redirect 301 /tag/performance/ https://www.andrewasquith.ca/tags/performance/
Redirect 301 /tag/wordpress/ https://www.andrewasquith.ca/tags/wordpress/
Redirect 301 /tag/wp7/ https://www.andrewasquith.ca/tags/wp7/
Redirect 301 /category/reviews/app-reviews/ https://www.andrewasquith.ca/archive/
Redirect 301 /category/reviews/ https://www.andrewasquith.ca/archive/
Redirect 301 /category/technology/ https://www.andrewasquith.ca/archive/
Redirect 301 /category/uncategorized/ https://www.andrewasquith.ca/archive/
Redirect 301 /2011/05/ https://www.andrewasquith.ca/archive/
Redirect 301 /2011/09/ https://www.andrewasquith.ca/archive/
Redirect 301 /2011/11/ https://www.andrewasquith.ca/archive/
Redirect 301 /2011/ https://www.andrewasquith.ca/archive/
Redirect 301 /2011/05/hello-again-world/ https://www.andrewasquith.ca/posts/hello-again-world/
Redirect 301 /2011/09/performance-comparison-wp-super-cache-and-w3-total-cache/ https://www.andrewasquith.ca/posts/performance-comparison-wp-super-cache-and-w3-total-cache/
Redirect 301 /2011/11/is-cibc-working-on-an-app-for-windows-phone/ https://www.andrewasquith.ca/posts/is-cibc-working-on-an-app-for-windows-phone/
Redirect 301 /2011/09/windows-phone-7-recipe-app-roundup/ https://www.andrewasquith.ca/posts/windows-phone-7-recipe-app-roundup/
</IfModule>

ErrorDocument 404 /404.html